@tailwind base;
@tailwind components;
@tailwind utilities;


// create a loop for mr-1 to mr-10
@for $i from 1 through 10 {
    .mr-#{$i} {
        margin-right: #{$i * 0.25}rem;
    }
}

.margin-none {
    margin: 0 !important;
}

.padding-none {
    padding: 0 !important;
}

.rom-grid-item {
    position: relative;
    border-radius: 0.5rem;
    border: 2px solid #575757;
    overflow: hidden;
    box-shadow:
      2px 1.8px 7.9px -78px rgba(0, 0, 0, 0.031),
      7.2px 6.6px 24.2px -78px rgba(0, 0, 0, 0.044),
      16.7px 15.3px 50.1px -78px rgba(0, 0, 0, 0.056),
      33.4px 30.6px 90.4px -78px rgba(0, 0, 0, 0.069),
      82px 75px 168px -78px rgba(0, 0, 0, 0.1)
    ;

    transition: all 0.3s cubic-bezier(.58,.29,.51,.95);


    &:hover {
        box-shadow:
          0.7px 0.3px 6.7px -51px rgba(0, 0, 0, 0.081),
          2.7px 1.3px 21.1px -51px rgba(0, 0, 0, 0.144),
          6.1px 2.8px 41.1px -51px rgba(0, 0, 0, 0.194),
          11.3px 5.3px 67.5px -51px rgba(0, 0, 0, 0.239),
          18.9px 8.8px 103.8px -51px rgba(0, 0, 0, 0.293),
          30px 14px 168px -51px rgba(0, 0, 0, 0.43)
        ;

    }

    .cover-image {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
